Projeto 2 Notificador Site Down/workflow-notificador-site-down.json
{
  "name": "Notificador de Site Down",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 5
            }
          ]
        }
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000001",
      "name": "A cada 5 minutos",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "url": "https://naiararodrigues-naih.github.io/Desafio-Kensei-Semana5-Airbnb-Paris/",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          },
          "timeout": 10000
        }
      },
      "id": "a1b2c3d4-0002-4000-8000-000000000002",
      "name": "Checar site",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [500, 300],
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "cond-0001-4000-8000-000000000001",
              "leftValue": "={{ $json.statusCode }}",
              "rightValue": 200,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "a1b2c3d4-0003-4000-8000-000000000003",
      "name": "Site esta no ar?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [760, 300]
    },
    {
      "parameters": {
        "chatId": "={{ $env.TELEGRAM_CHAT_ID }}",
        "text": "=🚨 <b>ALERTA: Site fora do ar!</b>\n\n🌐 <b>URL:</b> https://naiararodrigues-naih.github.io/Desafio-Kensei-Semana5-Airbnb-Paris/\n⏰ <b>Horario:</b> {{ $now.toFormat('dd/MM/yyyy HH:mm:ss') }}\n📊 <b>Status:</b> {{ $json.statusCode ? $json.statusCode : 'Sem resposta (timeout ou DNS)' }}\n\n⚠️ Verifique imediatamente!",
        "additionalFields": {
          "parse_mode": "HTML"
        }
      },
      "id": "a1b2c3d4-0004-4000-8000-000000000004",
      "name": "Alerta no Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1020, 440],
      "credentials": {
        "telegramApi": {
          "id": "",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "A cada 5 minutos": {
      "main": [
        [
          {
            "node": "Checar site",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Checar site": {
      "main": [
        [
          {
            "node": "Site esta no ar?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Site esta no ar?": {
      "main": [
        [],
        [
          {
            "node": "Alerta no Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "p2-site-down-notifier-v1",
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "id": "p2-notificador-site-down",
  "tags": []
}
